<button
  (click)="showModal()"
  nz-button
  nzType="link"
  nzSize="large"
  routerLinkActive="active"
  class="px-6 md:px-12 lg:px-14 xl:px-16 py-8 !border-none flex items-center gap-2 !text-red-600 hover:bg-red-500/5 w-full"
>
  <span nz-icon nzType="delete" nzTheme="outline"></span>
  <p class="hidden md:block">Deactivate</p>
</button>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  nzCloseOnNavigation="false"
  nzCentered
>
  <ng-template #modalContent>
    <h1 class="text-lg text-slate-700 mb-4">Deactivate Your Account</h1>
    <p class="text-slate-600">
      Are you sure you want to deactivate your account?
    </p>
    <p class="text-slate-600">
      Deactivating will permanently delete all your data and cannot be undone.
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <div class="flex flex-col md:flex-row gap-4 justify-end items-end my-2">
      <button
        (click)="handleCancel()"
        nz-button
        nzType="default"
        nzSize="large"
        class="w-fit flex items-center text-primary hover:text-white bg-transparent hover:bg-primary border-primary"
      >
        <span nz-icon nzType="close" nzTheme="outline"></span>
        Cancel
      </button>
      <button
        (click)="handleOk()"
        nz-button
        nzDanger
        nzType="primary"
        nzSize="large"
        class="w-fit !border-none flex items-center !ml-0"
      >
        <span nz-icon nzType="delete" nzTheme="outline"></span>

        <span *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></span>
        Deactivate
      </button>
    </div>
  </ng-template>
</nz-modal>
