@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg: #f1faff;
  --main-bg: #000;
}
html {
  @apply bg-primary;
}
body {
  @apply font-main bg-light;
}
p {
  @apply !leading-[1.75];
}
svg,
img {
  user-select: none;
}

input::placeholder {
  @apply text-xs md:!text-sm;
}

.fade-in {
  opacity: 0;
  transform: translateY(8px); /* Slide up effect */
  transition: opacity 0.6s ease 0.1s, transform 0.6s ease 0.1s; /* Smooth transition */
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0); /* Reset position */
}

.ant-modal-content {
  @apply p-1 md:p-4;
}

.ant-modal {
  @apply mx-2;

  animation-duration: 0s !important;
}

::ng-deep .ant-modal-wrap,
.ant-modal {
  animation: none !important; /* Disable default modal animation */
}

::ng-deep .ant-modal {
  transition: none !important; /* Remove transition for the modal */
}

::ng-deep .ant-modal-content {
  animation: none !important; /* Disable content animation */
}

.ant-select-item {
  @apply block py-4 px-5 hover:text-primary hover:bg-primary/10 duration-0  !important;
}
/* .cdk-overlay-pane */
.ant-select-dropdown {
  @apply h-[124px] !important;
}
.cdk-virtual-scroll-viewport {
  @apply h-[116px] !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-dropdown-menu-item-selected {
  @apply font-normal text-primary bg-primary/5 !important;
}
.ant-input-number {
  @apply h-[57px] w-full !important;
}
.ant-input-number-input-wrap,
.ant-input-number-input {
  @apply h-full !important;
}
.ant-select-selection-placeholder {
  @apply text-sm leading-[1.75] !important;
}
