@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg: #eafbff;
  --main-bg: #000;
}
html {
  @apply bg-primary;
}
body {
  @apply font-main bg-light;
}
p {
  @apply !leading-[1.75];
}
svg,
img {
  user-select: none;
}
.fade-in {
  opacity: 0;
  transform: translateY(8px); /* Slide up effect */
  transition: opacity 0.6s ease 0.1s, transform 0.6s ease 0.1s; /* Smooth transition */
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0); /* Reset position */
}

.ant-modal-content {
  @apply p-1 md:p-4;
}

.ant-modal {
  @apply !w-fit !max-w-3xl mx-2;
  animation-delay: -1s;
}

::ng-deep .ant-modal-wrap,
.ant-modal {
  animation: none !important; /* Disable default modal animation */
}

::ng-deep .ant-modal {
  transition: none !important; /* Remove transition for the modal */
}

::ng-deep .ant-modal-content {
  animation: none !important; /* Disable content animation */
}
