<section
  class="md:container mx-auto py-10 lg:py-16 px-3 w-full flex flex-col gap-8 lg:gap-12 items-center text-center"
>
  <h1
    class="text-xl md:text-2xl xl:text-3xl text-primary title-fade-in fade-in"
  >
    Explore All-in-One Health Solutions
  </h1>
  <div class="flex flex-col md:flex-row md:justify-center gap-8 lg:gap-36">
    <div class="flex flex-col items-center gap-2 text-center fade-in">
      <lord-icon
        src="https://cdn.lordicon.com/wjyqkiew.json"
        trigger="none"
        delay="100"
        stroke="light"
        colors="primary:#64748b ,secondary:#0894ff "
        style="width: 100px; height: 100px"
      ></lord-icon>
      <h2 class="text-slate-800 text-base lg:text-lg">
        Find Medications & Supplies
      </h2>
    </div>

    <div class="flex flex-col items-center gap-2 text-center fade-in">
      <lord-icon
        src="https://cdn.lordicon.com/uppnozfl.json"
        trigger="none"
        delay="100"
        stroke="light"
        state="loop-cycle"
        colors="primary:#64748b ,secondary:#0894ff "
        style="width: 100px; height: 100px"
      ></lord-icon>
      <h2 class="text-slate-800 text-base lg:text-lg">Track Your Wellness</h2>
    </div>

    <div class="flex flex-col items-center gap-2 text-center fade-in">
      <lord-icon
        src="https://cdn.lordicon.com/jdgfsfzr.json"
        trigger="none"
        delay="100"
        stroke="light"
        colors="primary:#64748b ,secondary:#0894ff "
        style="width: 100px; height: 100px"
      ></lord-icon>
      <h2 class="text-slate-800 text-base lg:text-lg">Join the Community</h2>
    </div>
  </div>
</section>
