<html>
  <body>
    <div
      style="
        background-color: #0894ff;
        border-radius: 3px;
        overflow: hidden;
        padding: 25px;
      "
    >
      <div style="text-align: center; margin-bottom: 20px">
        <img
          src="https://res.cloudinary.com/depztpide/image/upload/v1731633818/t45lejsa50mrvgand4oc.png"
          alt="MediFind Logo"
          style="width: 80px; height: auto"
        />
      </div>

      <div style="text-align: center; margin-bottom: 20px">
        <h2 style="color: #ffffff; font-size: 24px; font-weight: 900">
          Welcome to MediFind!
        </h2>

        <p style="font-size: 16px; color: #e2f3ff">
          Thank you for subscribing to our newsletter! As a member of our
          community, you'll receive regular updates on the latest medical
          supplies, personalized health recommendations, and tips for improving
          your well-being.
        </p>
      </div>

      <div style="text-align: center; margin-top: 30px">
        <a
          href="{{client_url}}"
          style="
            display: inline-block;
            padding: 12px 25px;
            font-size: 18px;
            color: #007bff;
            background-color: #ffffff;
            text-decoration: none;
            border-radius: 3px;
            margin-bottom: 15px;
          "
        >
          Explore Now!
        </a>
      </div>

      <div style="text-align: center; margin-top: 40px">
        <p style="font-size: 18px; color: #b5dfff">
          MediFind is dedicated to keeping you informed with valuable updates
          and news. We're thrilled to have you as part of our newsletter
          community!
        </p>
      </div>
      <div style="text-align: center">
        <p style="font-size: 16px; color: #b5dfff">
          If you no longer wish to receive emails from us, you can
          <a href="{{unsubscribe_url}}" style="color: #b5dfff; font-weight: 300"
            >unsubscribe here</a
          >.
        </p>
      </div>
    </div>
  </body>
</html>
