<div class="bg-light py-20 min-h-screen">
  <div class="md:container mx-auto px-4">
    <app-back></app-back>
    <div class="mt-6 flex justify-center items-center gap-2 w-fit">
      <span
        nz-icon
        nzType="appstore"
        nzTheme="fill"
        class="text-primary text-base"
      ></span>

      <h1 class="text-base md:text-lg text-primary">Health Essentials</h1>
    </div>

    <!-- Skeleton Loader -->
    <div
      *ngIf="loading"
      class="mt-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 gap-y-2 md:gap-y-6 sm:gap-x-6"
    >
      <div
        *ngFor="let placeholder of placeholders"
        class="bg-white/70 px-10 py-12 flex justify-between items-center gap-x-3 rounded-sm animate-pulse"
      >
        <div class="grow">
          <div class="bg-gray-200/80 h-[.8rem] w-4/5 rounded mb-4"></div>
          <div class="bg-gray-200/80 h-[.8rem] w-3/5 rounded"></div>
        </div>
      </div>
    </div>

    <!-- Error / Empty Data Message -->
    <app-empty-data
      *ngIf="!loading && displayedItems.length === 0"
    ></app-empty-data>

    <!-- Data Grid -->
    <div
      *ngIf="!loading"
      class="mt-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 gap-y-2 md:gap-y-6 sm:gap-x-6"
    >
      <div
        *ngFor="let item of displayedItems"
        [routerLink]="item.Id"
        class="bg-white/70 hover:bg-white p-6 lg:p-7 xl:p-8 flex justify-between items-center gap-x-3 rounded-sm border-[1px] border-slate-200 hover:border-primary duration-200 cursor-pointer group"
      >
        <div class="grow">
          <h3
            class="text-slate-500 group-hover:text-primary text-base !leading-relaxed"
          >
            {{ item.Title }}
          </h3>
        </div>
        <div>
          <span
            nz-icon
            nzType="right"
            nzTheme="outline"
            class="text-gray-500 group-hover:text-primary"
          ></span>
        </div>
      </div>
    </div>

    <!-- Load More Button -->
    <div
      class="mt-8 flex justify-center"
      *ngIf="!loading && currentIndex < items.length"
    >
      <button
        [disabled]="loadMoreLoading"
        (click)="onLoadMore()"
        nz-button
        nzSize="large"
        class="flex items-center !bg-primary !text-white !border-transparent"
      >
        <span *ngIf="!loadMoreLoading">Load More</span>
        <span
          *ngIf="!loadMoreLoading"
          nz-icon
          nzType="reload"
          nzTheme="outline"
        ></span>

        <span *ngIf="loadMoreLoading">Loading...</span>
        <span
          *ngIf="loadMoreLoading"
          nz-icon
          nzType="loading"
          nzTheme="outline"
        ></span>
      </button>
    </div>
  </div>
</div>
