.active {
  @apply bg-secondary;
}

.navbar-header {
  transform: translateY(-100%);
}

/* Slide down animation class applied only for home */
.slide-down {
  animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.menu-item-active {
  @apply bg-primary/10 text-primary !important;
}
.ant-dropdown-menu-item-selected {
  @apply text-slate-700 bg-transparent !important;
}
.ant-dropdown-menu-item-selected {
  @apply hover:bg-primary/10 hover:text-primary !important;
}
