<section
  class="md:max-w-4xl xl:max-w-6xl mx-auto py-10 lg:py-16 px-4 w-full flex flex-col gap-10 justify-center items-center"
>
  <div
    class="flex flex-col md:flex-row justify-center items-center gap-4 md:gap-8 lg:gap-16 xl:gap-40 2xl:gap-48"
  >
    <lord-icon
      src="https://cdn.lordicon.com/ncmnezgk.json"
      trigger="in"
      stroke="light"
      state="in-reveal"
      colors="primary:#64748b,secondary:#0894ff"
      style="min-width: 165px; min-height: 165px"
    >
    </lord-icon>
    <article class="flex flex-col gap-5">
      <div class="flex flex-col gap-4 w-full">
        <h1 class="text-xl md:text-2xl xl:text-3xl text-primary">
          What Can MediFind Provide for You?
        </h1>
        <p class="text-sm lg:text-base text-slate-500">
          MediFind provides a personalized healthcare experience with a health
          profile offering tailored content, recommendations, and features, such
          as evolving health logs. It combines innovative tools, a supportive
          community, and empowering resources to help you manage your
          well-being.
        </p>
      </div>
    </article>
  </div>
  <div class="flex flex-col md:flex-row gap-6 md:gap-10 lg:gap-16 2xl:gap-24">
    <div class="flex flex-col items-center gap-[.4rem] text-slate-800">
      <svg
        class="h-16 lg:h-24"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 430 430"
      >
        <g stroke-linejoin="round" stroke-width="6">
          <path
            stroke="#64748b"
            d="M55 350c0-63.513 51.487-115 115-115h90c63.513 0 115 51.487 115 115v25H55z"
          />
          <path
            stroke="#0894ff"
            stroke-linecap="round"
            stroke-miterlimit="27.88"
            d="M272.496 76.733C283.423 89.78 290 106.648 290 125c0 41.478-33.628 75-75 75s-75-33.628-75-75 33.628-75 75-75c23.126 0 43.706 10.396 57.496 26.733"
          />
        </g>
      </svg>

      <h1 class="text-slate-800 text-sm lg:text-base text-center">
        Personalized Content
      </h1>
      <p class="text-sm lg:text-[.9rem] text-slate-500 max-w-xs text-center">
        Tailored recommendations and insights based on your health profile.
      </p>
    </div>

    <div class="flex flex-col items-center gap-[.4rem] text-slate-800">
      <svg
        class="h-16 lg:h-24"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 430 430"
      >
        <mask
          id="UeZf0DOymea"
          width="305"
          height="245"
          x="95"
          y="175"
          maskUnits="userSpaceOnUse"
          style="mask-type: alpha"
        >
          <path
            fill="#fff"
            d="M95 220h51.667L180 255l33.333-35H285c11.046 0 20-8.954 20-20v-25h95v245H95z"
          />
        </mask>
        <g mask="url(#UeZf0DOymea)">
          <path
            stroke="#0894ff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="10"
            stroke-width="6"
            d="M145 195c-11.046 0-20 8.954-20 20v130c0 11.046 8.954 20 20 20h71.667L250 400l33.333-35H355c11.046 0 20-8.954 20-20V215c0-11.046-8.954-20-20-20z"
          />
        </g>
        <path
          stroke="#0894ff"
          stroke-linecap="round"
          stroke-width="6"
          d="M186 325h65m-65-35h130m-130-35h130"
        />
        <path
          stroke="#64748b"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-miterlimit="10"
          stroke-width="6"
          d="M75 50c-11.046 0-20 8.954-20 20v130c0 11.046 8.954 20 20 20h71.667L180 255l33.333-35H285c11.046 0 20-8.954 20-20V70c0-11.046-8.954-20-20-20z"
        />
        <path
          stroke="#0894ff"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="6"
          d="m180 85 14.695 29.775 32.858 4.774-23.777 23.176 5.613 32.726L180 160l-29.389 15.451 5.613-32.726-23.777-23.176 32.858-4.774z"
        />
      </svg>
      <h1 class="text-slate-800 text-sm lg:text-base text-center">
        Health Feedback
      </h1>
      <p class="text-sm lg:text-[.9rem] text-slate-500 max-w-xs text-center">
        Actionable tips and progress tracking for better well-being.
      </p>
    </div>

    <div class="flex flex-col items-center gap-[.4rem] text-slate-800">
      <svg
        class="h-16 lg:h-24"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 430 430"
      >
        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
          <path stroke="#0894ff" d="M139 361v49l26-16 26 16v-49" />
          <path
            stroke="#64748b"
            stroke-miterlimit="10"
            d="M121.666 87.333h215.793V30H121.666C105.869 30 93 42.868 93 58.667c0 15.797 12.869 28.666 28.666 28.666"
          />
          <path
            stroke="#64748b"
            stroke-miterlimit="10"
            d="M93 58.667v273.771c0 7.951 3.243 15.066 8.37 20.192 5.231 5.231 12.345 8.37 20.296 8.37h215.793V87.228M285 270H145m114.136 35h-88.272"
          />
          <path
            stroke="#0894ff"
            stroke-miterlimit="10"
            d="M145 140h140v50H145z"
          />
        </g>
      </svg>
      <h1 class="text-slate-800 text-sm lg:text-base text-center">
        Educational Resources
      </h1>
      <p class="text-sm lg:text-[.9rem] text-slate-500 max-w-xs text-center">
        Expert tips and guides to support a healthier lifestyle.
      </p>
    </div>
  </div>
</section>
