<section class="md:container mx-auto my-10 lg:my-10 px-4">
  <h1 class="text-lg xl:text-xl text-primary">Blood Donation Drives</h1>

  <div
    class="mt-6 grid md:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4 gap-3 gap-y-2 md:gap-y-6 sm:gap-x-6"
  >
    <div
      class="bg-white/70 hover:bg-white flex flex-col gap-4 xl:gap-6 rounded-sm border-[1px] hover:border-primary duration-200 overflow-hidden cursor-pointer"
    >
      <img
        class="w-full"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYSYQcHCGHLMl8WqRGwne3VkMP5sZF-sHPMcPNVgChjw&s=10"
        alt=""
      />
      <div
        class="px-6 pb-6 lg:px-7 lg:pb-7 xl:px-8 xl:pb-8 flex gap-4 lg:gap-6 items-start"
      >
        <div>
          <h1>Dec 5</h1>
        </div>
        <div class="flex flex-col gap-2">
          <h1
            class="text-slate-500 group-hover:text-primary text-base !leading-relaxed"
          >
            🩸 Soddy-Daisy Red Cross Blood Drive: Give Blood, Save Lives! 🩸
          </h1>

          <p>
            Stuart Heights Baptist Church Soddy Daisy Campus, 10049 Dayton
            Pike", "Soddy-Daisy, TN, United States
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
