<section
  class="md:container mx-auto py-10 lg:py-16 px-4 w-full flex flex-col gap-4 items-center text-center"
>
  <div class="fade-in">
    <lord-icon
      #lordIcon
      src="https://cdn.lordicon.com/mhjhxcxu.json"
      trigger="none"
      stroke="light"
      state="hover-pinch"
      colors="primary:#64748b"
      style="width: 100px; height: 100px"
    ></lord-icon>
  </div>

  <blockquote
    class="text-center lg:mx-auto lg:w-3/5 blockquote-fade-in fade-in"
  >
    <p
      class="italic text-xl md:text-2xl font-light md:leading-normal text-slate-500"
    >
      "MediFind’s personalized recommendations and community support have
      greatly helped me manage my chronic migraines."
    </p>

    <footer class="mt-6">
      <div class="text-sm lg:text-base text-gray-800">Sarah L</div>
      <div class="text-sm text-gray-500 mt-1">Chronic Migraine | Member</div>
    </footer>
  </blockquote>
</section>
