<button
  (click)="showModal()"
  nz-button
  nzType="primary"
  nzSize="large"
  nzShape="circle"
  class="fixed bottom-6 md:bottom-10 right-6 md:right-10 h-14 w-14 flex justify-center items-center !p-0"
>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 500"
    class="fill-white h-4 w-4"
  >
    <path
      d="M506,256a19.65,19.65,0,0,1-19.64,19.64H275.64V486.36a19.64,19.64,0,0,1-39.28,0V275.64H25.64a19.64,19.64,0,0,1,0-39.28H236.36V25.64a19.64,19.64,0,1,1,39.28,0V236.36H486.36A19.65,19.65,0,0,1,506,256Z"
    />
  </svg>
</button>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  nzCloseOnNavigation="false"
  nzCentered
>
  <ng-template #modalContent>
    <h1 class="text-lg text-slate-700 mb-6">Create a Post</h1>

    <div class="flex flex-col-reverse md:flex-row gap-4">
      <div class="flex flex-col gap-2 w-full md:w-3/5">
        <label for="title" class="text-slate-600 text-sm lg:text-[.9rem]"
          >Title</label
        >
        <input
          id="title"
          nz-input
          placeholder="Add a headline for your post..."
          nzSize="large"
          [(ngModel)]="title"
          class="text-base text-slate-600"
        />
      </div>

      <div class="flex flex-col gap-2 w-full md:w-2/5">
        <label for="category" class="text-slate-600 text-sm lg:text-[.9rem]"
          >Category</label
        >
        <button
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="dropdown"
          nzPlacement="bottomRight"
          nz-button
          nzSize="large"
          class="!px-4 !bg-slate-50 border-slate-300 !text-slate-500/90 flex gap-1 items-center"
        >
          <span
            class="text-sm overflow-hidden text-ellipsis whitespace-nowrap w-full max-w-[120px]"
          >
            {{ selectedCategory?.name || "Category" }}
          </span>
          <span nz-icon nzType="down"></span>
        </button>

        <nz-dropdown-menu #dropdown="nzDropdownMenu">
          <ul nz-menu class="max-h-72 overflow-y-auto">
            <li
              nz-menu-item
              *ngFor="let category of categories"
              (click)="selectCategory(category)"
              nz-menu-item
              class="block py-4 px-5 text-[.9rem] hover:text-primary hover:bg-primary/10 duration-0"
            >
              {{ category.name }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <div class="flex flex-col gap-2 mt-4">
      <label for="content" class="text-slate-600 text-sm lg:text-[.9rem]"
        >Content</label
      >
      <textarea
        id="content"
        nz-input
        rows="5"
        placeholder="Share the details or ask your question here..."
        [(ngModel)]="content"
        class="placeholder:text-slate-400/80"
      ></textarea>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div class="flex gap-1 md:gap-4 justify-end items-end my-2">
      <button
        (click)="handleCancel()"
        nz-button
        nzType="default"
        nzSize="large"
        class="flex items-center text-primary hover:text-white bg-transparent hover:bg-primary border-primary"
      >
        <span nz-icon nzType="close" nzTheme="outline"></span>
        Cancel
      </button>
      <button
        (click)="createPost()"
        [disabled]="!isFormValid() || loading"
        nz-button
        nzSize="large"
        class="flex items-center !bg-primary !text-white !border-transparent"
      >
        Submit
        <span *ngIf="!loading" nz-icon nzType="send" nzTheme="outline"></span>
        <span *ngIf="loading" nz-icon nzType="loading" nzTheme="outline"></span>
      </button>
    </div>
  </ng-template>
</nz-modal>
