<div class="flex flex-col justify-center items-center my-8 md:my-16 lg:my-24">
  <svg
    class="w-32"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 430 430"
  >
    <g stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="14">
      <path
        stroke="#64748b"
        stroke-width="10"
        d="M293.7 89.4c56.7 56.7 56.7 148.6 0 205.3s-148.6 56.7-205.3 0-56.7-148.7 0-205.3 148.6-56.7 205.3 0"
      />
      <path
        stroke="#0894ff"
        stroke-width="10"
        d="M82.1 147.5c5.7-14.1 14.2-27.3 25.7-38.7 13.7-13.7 29.9-23.2 47.1-28.7"
      />
      <path stroke="#64748b" stroke-width="10" d="m296.1 296.6 88 86.5" />
    </g>
  </svg>
  <h1 class="text-base text-slate-600 mt-4">
    Oops! There's no data available at the moment. Check back later.
  </h1>
</div>
