<section id="vaccination" class="md:container mx-auto my-10 px-4">
  <h1 class="text-lg xl:text-xl text-primary">
    Upcoming Vaccination Campaigns
  </h1>

  <!-- Skeleton Loader -->
  <div
    *ngIf="loading"
    class="mt-6 lg:mt-8 grid md:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4 gap-y-4 md:gap-y-6 sm:gap-x-6"
  >
    <div
      *ngFor="let placeholder of placeholders"
      [ngClass]="{
        'lg:last-of-type:hidden 3xl:last-of-type:flex':
          !showAllEvents && events.length > 3
      }"
      class="bg-white/80 flex flex-col gap-4 xl:gap-6 rounded-[0.14rem] animate-pulse w-full"
    >
      <div class="h-36 md:h-40 lg:h-44 w-full bg-[#e9eff6]"></div>
      <div class="px-6 pb-6 lg:px-7 lg:pb-7 xl:px-8 xl:pb-8 flex gap-8 w-full">
        <span class="bg-slate-200/80 h-4 w-10"></span>
        <div class="w-full h-full flex flex-col gap-3">
          <span class="bg-slate-200/80 h-[.8rem] w-4/5 rounded"></span>
          <span class="bg-slate-200/80 h-[.8rem] w-3/5 rounded"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Error / Empty Data Message -->
  <div
    *ngIf="error"
    class="flex flex-col justify-center items-center my-6 md:my-8 lg:my-10"
  >
    <svg
      class="w-44"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 430 430"
    >
      <g
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        stroke-width="4"
      >
        <path
          stroke="#64748b"
          d="m226.4 88.5 139 240.8c5 8.7-1.3 19.5-11.3 19.5h-278c-10 0-16.3-10.9-11.3-19.5l139-240.8c5-8.7 17.5-8.7 22.6 0"
        />
        <path
          stroke="#0894ff"
          d="M217.8 259h-5.4c-7.4 0-13.5-5.8-13.8-13.2l-2.8-57.9c-.5-9.4 7-17.2 16.4-17.2h6c9.4 0 16.8 7.8 16.4 17.2l-2.8 57.9c-.6 7.4-6.6 13.2-14 13.2m-2.7 57.8c8.782 0 15.9-7.119 15.9-15.9s-7.118-15.9-15.9-15.9-15.9 7.119-15.9 15.9 7.119 15.9 15.9 15.9"
        />
      </g>
    </svg>
    <h1 class="text-base text-slate-500 text-center">
      Failed to load vaccination events. Please try again later.
    </h1>
  </div>
  <app-empty-data *ngIf="noEvents"></app-empty-data>

  <!-- Display Events -->
  <div
    *ngIf="!loading && !error && !noEvents"
    class="mt-6 lg:mt-8 grid md:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4 gap-y-4 md:gap-y-6 sm:gap-x-6"
  >
    <div
      *ngFor="let event of events.slice(0, displayedEventsCount)"
      (click)="showModal(event)"
      [ngClass]="{
        'lg:last-of-type:hidden 3xl:last-of-type:flex':
          !showAllEvents && events.length > 3
      }"
      class="bg-white/70 hover:bg-white flex flex-col gap-4 xl:gap-6 rounded-[0.14rem] border-[1px] border-slate-200 hover:border-primary duration-200 overflow-hidden cursor-pointer max-w-[340px] md:max-w-full"
    >
      <img
        class="w-full h-36 md:h-40 lg:h-44 object-cover"
        [src]="event.thumbnail"
        alt="Event Thumbnail"
      />
      <div
        class="px-6 pb-6 lg:px-7 lg:pb-7 xl:px-8 xl:pb-8 flex gap-4 lg:gap-6 items-start h-full"
      >
        <div class="flex flex-col items-center">
          <h1 class="text-2xl text-slate-600">{{ event.day }}</h1>
          <h2 class="text-base text-slate-600 leading-4">{{ event.month }}</h2>
        </div>
        <span class="min-w-[1.5px] h-full bg-slate-300/80 rounded-md"></span>
        <div class="flex flex-col gap-2">
          <h1 class="text-slate-700 text-base !leading-snug line-clamp">
            {{ event.title }}
          </h1>
          <div class="flex items-start gap-2">
            <span
              nz-icon
              nzType="environment"
              nzTheme="outline"
              class="text-slate-500 mt-[.35rem]"
            ></span>
            <p class="text-sm text-slate-500">{{ event.country }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Content -->
    <nz-modal
      [(nzVisible)]="isVisible"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
      nzCloseOnNavigation="false"
      nzCentered
      style="width: 500px"
    >
      <ng-template #modalContent>
        <h1
          class="text-slate-700 text-base lg:text-lg max-w-2xl mb-2 line-clamp"
        >
          {{ selectedEvent?.title }}
        </h1>

        <p class="text-slate-600 max-w-xl">
          {{ selectedEvent?.description }}
        </p>

        <span
          class="my-6 block h-[1px] w-2/3 mx-auto bg-slate-300 rounded-md"
        ></span>
        <div
          class="mt-4 flex flex-col md:flex-row gap-4 md:gap-8 lg:gap-12 xl:gap-16"
        >
          <div class="w-full md:w-1/2">
            <div class="flex items-start gap-2">
              <span
                nz-icon
                nzType="global"
                nzTheme="outline"
                class="text-slate-500 mt-1"
              ></span>
              <h6 class="text-slate-500 text-sm">
                {{ selectedEvent?.country }}
              </h6>
            </div>
            <div class="flex items-start gap-2 mt-1 lg:mt-2">
              <span
                nz-icon
                nzType="environment"
                nzTheme="outline"
                class="text-slate-500 mt-1"
              ></span>
              <h6 class="text-slate-500 text-sm">
                {{ selectedEvent?.address }}
              </h6>
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <div class="flex items-start gap-2">
              <span
                nz-icon
                nzType="calendar"
                nzTheme="outline"
                class="text-slate-500 mt-1"
              ></span>

              <h6 class="text-slate-500 text-sm">
                {{ selectedEvent?.date }}
              </h6>
            </div>
            <div class="flex items-start gap-2 mt-1 lg:mt-2">
              <span
                nz-icon
                nzType="clock-circle"
                nzTheme="outline"
                class="text-slate-500 mt-1"
              ></span>
              <h6 class="text-slate-500 text-sm">
                {{ selectedEvent?.time }}
              </h6>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #modalFooter>
        <div class="flex gap-1 md:gap-2 xl:gap-4 justify-end mt-2 mb-2">
          <button
            (click)="openWebsite(selectedEvent?.link)"
            [disabled]="!selectedEvent?.link"
            nz-button
            nzSize="large"
            class="flex items-center text-primary hover:text-white bg-transparent hover:bg-primary border-primary"
          >
            Location
            <span nz-icon nzType="export" nzTheme="outline"></span>
          </button>
          <button
            (click)="openLocation(selectedEvent?.location)"
            [disabled]="!selectedEvent?.location"
            nz-button
            nzSize="large"
            class="flex items-center !bg-primary !text-white !border-transparent"
          >
            Website
            <span nz-icon nzType="compass" nzTheme="outline"></span>
          </button>
        </div>
      </ng-template>
    </nz-modal>
  </div>

  <!-- Show More / Show Less -->
  <div
    *ngIf="!loading && !error && !noEvents && events.length > 3"
    class="flex justify-end mt-2 2xl:mt-4"
  >
    <button
      (click)="toggleShowAllEvents()"
      nz-button
      nzSize="large"
      class="flex items-center !bg-primary !text-white !border-transparent"
    >
      <span
        *ngIf="showAllEvents"
        nz-icon
        nzType="arrow-up"
        nzTheme="outline"
      ></span>
      <span
        *ngIf="!showAllEvents"
        nz-icon
        nzType="arrow-down"
        nzTheme="outline"
      ></span>
      {{ showAllEvents ? "Show Less" : "Show More" }}
    </button>
  </div>
</section>
