.line-clamp {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important; /* Number of lines */
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
