<section class="h-screen flex justify-center items-center bg-primary">
  <div class="text-center py-10 px-4 sm:px-6 lg:px-8">
    <lord-icon
      src="https://cdn.lordicon.com/xqdfobxg.json"
      trigger="in"
      stroke="light"
      colors="primary:#ffffff,secondary:#ffffff"
      style="width: 250px; height: 250px"
    >
    </lord-icon>
    <p class="text-blue-50 text-lg">Oops, something went wrong.</p>
    <p class="text-blue-50 text-lg">Sorry, we couldn't process your request</p>
    <div class="w-fit bg-black mx-auto mt-6">
      <app-back-home></app-back-home>
    </div>
  </div>
</section>
