<div class="bg-light pt-20 pb-16 min-h-screen">
  <div class="md:container mx-auto px-3 h-screen bg-slate-200">
    <div class="gap-x-[1em] lg:columns-2 2xl:columns-3">
      <div class="h-44 w-full bg-red-400 break-inside-avoid mb-[1em]"></div>
      <div class="h-96 w-full bg-red-400 break-inside-avoid mb-[1em]"></div>
      <div class="h-72 w-full bg-red-400 break-inside-avoid mb-[1em]"></div>
      <div class="h-52 w-full bg-red-400 break-inside-avoid mb-[1em]"></div>
      <div class="h-32 w-full bg-red-400 break-inside-avoid mb-[1em]"></div>
      <div class="h-80 w-full bg-red-400 break-inside-avoid mb-[1em]"></div>
    </div>
  </div>
  <app-create-post></app-create-post>
</div>
