<div
  class="md:max-w-4xl xl:max-w-6xl mx-auto py-10 px-3 w-full flex flex-col md:flex-row-reverse justify-center items-center gap-4 md:gap-8 lg:gap-16 xl:gap-40 2xl:gap-48"
>
  <lord-icon
    src="https://cdn.lordicon.com/xmaezqzk.json"
    trigger="in"
    stroke="light"
    state="in-reveal"
    colors="primary:#64748b,secondary:#0894ff"
    style="min-width: 160px; min-height: 160px"
  >
  </lord-icon>
  <article class="flex flex-col gap-5">
    <div class="flex flex-col gap-4 w-full">
      <h1 class="text-xl md:text-2xl xl:text-3xl text-primary">
        How is Medifind Works?
      </h1>
      <p class="text-sm lg:text-base !leading-relaxed text-slate-500">
        MediFind provides a highly flexible and personalized experience,
        empowering users to take full control of their profiles and preferences.
        Sign up to join the community in the Talks section, create a profile to
        receive personalized health feedback and logs, subscribe to health
        updates, and unsubscribe at any time.
      </p>
    </div>
  </article>
</div>
