<div class="bg-light py-20 min-h-screen">
  <div class="md:container mx-auto px-3">
    <app-events-header></app-events-header>
    <app-blood-donation></app-blood-donation>
    <span
      class="my-8 lg:my-10 xl:my-14 2xl:my-16 block h-[1px] w-2/3 mx-auto bg-slate-300 rounded-md"
    ></span>
    <app-vaccination></app-vaccination>
    <span
      class="my-8 lg:my-10 xl:my-14 2xl:my-16 block h-[1px] w-2/3 mx-auto bg-slate-300 rounded-md"
    ></span>
    <app-awareness></app-awareness>
  </div>
</div>
