<section>
  <app-back></app-back>
  <div class="flex items-center justify-center">
    <div class="px-4 w-full max-w-sm md:max-w-lg mx-auto mt-4 2xl:mt-10">
      <div class="text-center lg:mt-4">
        <h1 class="text-xl md:text-2xl text-primary">
          Your Personal Information
        </h1>
      </div>

      <div class="mt-8 lg:mt-10 xl:mt-12 w-full">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-4"
        >
          <!-- Gender and birthday fields -->
          <div class="flex flex-col md:flex-row gap-4">
            <div class="flex flex-col gap-2 md:w-1/2">
              <label for="gender" class="text-slate-600 text-sm lg:text-[.9rem]"
                >Gender</label
              >
              <nz-select
                [nzStatus]="
                  form.controls['gender'].invalid &&
                  form.controls['gender'].touched
                    ? 'error'
                    : ''
                "
                formControlName="gender"
                nzAllowClear
                nzPlaceHolder="Select your gender"
              >
                <nz-option nzValue="male" nzLabel="Male"></nz-option>
                <nz-option nzValue="female" nzLabel="Female"></nz-option>
              </nz-select>
            </div>
            <div class="flex flex-col gap-2 md:w-1/2">
              <label
                for="birthday"
                class="text-slate-600 text-sm lg:text-[.9rem]"
                >Birthday</label
              >
              <nz-date-picker
                [nzStatus]="
                  form.controls['birthday'].invalid &&
                  form.controls['birthday'].touched &&
                  form.get('birthday')?.value &&
                  form.get('birthday')?.invalid
                    ? 'error'
                    : ''
                "
                formControlName="birthday"
                nzShowToday="false"
                placeholder="Enter your birthday"
                nzSize="large"
              ></nz-date-picker>
            </div>
          </div>

          <!-- Height and weight fields -->
          <div class="flex flex-col md:flex-row gap-4">
            <div class="flex flex-col gap-2 md:w-1/2">
              <label
                for="height"
                class="text-slate-600 text-sm lg:text-[.9rem]"
              >
                Height
              </label>
              <nz-space id="height" nzDirection="vertical" style="width: 100%">
                <nz-input-number-group [nzAddOnBefore]="heightTemplate">
                  <nz-input-number
                    [nzStatus]="
                      form.get('height')?.touched &&
                      form.get('height')?.value !== null &&
                      form.get('height')?.value !== '' &&
                      form.get('height')?.invalid
                        ? 'error'
                        : ''
                    "
                    formControlName="height"
                    [nzMin]="selectedUnitHeight === 'cm' ? 30 : 12"
                    [nzStep]="1"
                    [nzPlaceHolder]="'Enter your height here'"
                    (ngModelChange)="onHeightChange($event)"
                  ></nz-input-number>
                </nz-input-number-group>
                <ng-template #heightTemplate>
                  <nz-select
                    (ngModelChange)="onHeightUnitChange($event)"
                    formControlName="heightUnit"
                    style="min-width: 80px"
                  >
                    <nz-option nzLabel="Cm" nzValue="cm"></nz-option>
                    <nz-option nzLabel="Inches" nzValue="inches"></nz-option>
                  </nz-select>
                </ng-template>
              </nz-space>
            </div>

            <div class="flex flex-col gap-2 md:w-1/2">
              <label for="weight" class="text-slate-600 text-sm lg:text-[.9rem]"
                >Weight</label
              >
              <nz-space id="weight" nzDirection="vertical" style="width: 100%">
                <nz-input-number-group [nzAddOnBefore]="weightTemplate">
                  <nz-input-number
                    [nzStatus]="
                      form.get('weight')?.touched &&
                      form.get('weight')?.value !== null &&
                      form.get('weight')?.value !== '' &&
                      form.get('weight')?.invalid
                        ? 'error'
                        : ''
                    "
                    formControlName="weight"
                    [nzStep]="0.5"
                    [nzPlaceHolder]="'Enter your weight here'"
                  ></nz-input-number>
                </nz-input-number-group>
                <ng-template #weightTemplate>
                  <nz-select
                    (ngModelChange)="onWeightUnitChange($event)"
                    formControlName="weightUnit"
                    style="min-width: 80px"
                  >
                    <nz-option nzLabel="Kg" nzValue="kg"></nz-option>
                    <nz-option nzLabel="Lbs" nzValue="lbs"></nz-option>
                  </nz-select>
                </ng-template>
              </nz-space>
            </div>
          </div>

          <!-- Submit Button -->
          <button
            [routerLink]="'/create-profile/medical-info'"
            nz-button
            nzType="primary"
            nzSize="large"
            class="flex justify-center items-center mt-4 xl:mt-6"
            [disabled]="loading"
          >
            Next

            <span
              *ngIf="!loading"
              nz-icon
              nzType="arrow-right"
              nzTheme="outline"
            ></span>
            <span
              *ngIf="loading"
              nz-icon
              nzType="loading"
              nzTheme="outline"
            ></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
