<section>
  <app-back></app-back>
  <div class="mt-6">
    <div class="flex items-center justify-center">
      <div class="px-4 w-full max-w-sm md:max-w-lg mx-auto mt-[52.8px]">
        <div class="text-center lg:mt-4">
          <h1 class="text-xl md:text-2xl text-primary">
            Sign Up and Create Your Profile
          </h1>
        </div>

        <div class="my-6 w-full">
          <form class="flex flex-col gap-4">
            <!-- Username Field -->
            <div class="flex flex-col md:flex-row gap-4">
              <div class="flex flex-col gap-2 md:w-1/2">
                <label
                  for="username"
                  class="text-slate-600 text-sm lg:text-[.9rem]"
                  >Username</label
                >
                <nz-select
                  ngModel="lucy"
                  nzAllowClear
                  nzPlaceHolder="Choose"
                  class="h-full text-sm lg:text-base placeholder:text-slate-400/80"
                >
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option
                    nzValue="disabled"
                    nzLabel="Disabled"
                    nzDisabled
                  ></nz-option>
                </nz-select>
              </div>
              <div class="flex flex-col gap-2 md:w-1/2">
                <label
                  for="username"
                  class="text-slate-600 text-sm lg:text-[.9rem]"
                  >Username</label
                >
                <input
                  nzStatus="warning"
                  id="username"
                  nz-input
                  placeholder="Type your username"
                  nzSize="large"
                  class="text-sm lg:text-base placeholder:text-slate-400/80"
                />
              </div>
            </div>

            <!-- Error Message -->
            <p class="text-red-500 text-center">
              {{ errorMessage }}
            </p>

            <!-- Submit Button -->
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              class="flex justify-center items-center mt-1"
              [disabled]="loading"
            >
              Next

              <span
                *ngIf="!loading"
                nz-icon
                nzType="arrow-right"
                nzTheme="outline"
              ></span>
              <span
                *ngIf="loading"
                nz-icon
                nzType="loading"
                nzTheme="outline"
              ></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
