<div class="mt-[52px] mb-16 h-full flex flex-col">
  <button
    [routerLink]="'/profile'"
    nz-button
    nzType="link"
    nzSize="large"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-6 md:px-8 lg:px-10 xl:px-12 py-8 !border-none flex items-center gap-[.65rem] !text-slate-600 hover:bg-primary/5 capitalize"
  >
    <span nz-icon nzType="user" nzTheme="outline"></span>
    <p class="hidden md:block">Profile</p>
  </button>
  <span class="h-[.6px] w-3/4 bg-slate-400 mx-auto"></span>
  <button
    [routerLink]="'/profile/tracker'"
    nz-button
    nzType="link"
    nzSize="large"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-6 md:px-8 lg:px-10 xl:px-12 py-8 !border-none flex items-center gap-[.65rem] !text-slate-600 hover:bg-primary/5 capitalize"
  >
    <span nz-icon nzType="scan" nzTheme="outline"></span>
    <p class="hidden md:block">Tracker</p>
  </button>
  <span class="h-[.6px] w-3/4 bg-slate-400 mx-auto"></span>
  <button
    [routerLink]="'/profile/achievements'"
    nz-button
    nzType="link"
    nzSize="large"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-6 md:px-8 lg:px-10 xl:px-12 py-8 !border-none flex items-center gap-[.65rem] !text-slate-600 hover:bg-primary/5 capitalize"
  >
    <span nz-icon nzType="trophy" nzTheme="outline"></span>
    <p class="hidden md:block">Achievements</p>
  </button>

  <span class="!h-[.47px] w-3/4 bg-slate-400 mx-auto"></span>
  <app-deactivate-account></app-deactivate-account>
</div>
