<div
  class="md:max-w-4xl xl:max-w-6xl mx-auto pt-4 pb-10 px-4 w-full flex flex-col gap-4 justify-center items-center"
>
  <div
    class="flex flex-col md:flex-row justify-center items-center gap-4 md:gap-8 lg:gap-16 xl:gap-40 2xl:gap-48"
  >
    <lord-icon
      src="https://cdn.lordicon.com/snxksidl.json"
      trigger="in"
      stroke="light"
      colors="primary:#64748b,secondary:#0894ff"
      style="min-width: 165px; min-height: 165px"
    >
    </lord-icon>

    <article class="flex flex-col gap-5">
      <div class="flex flex-col gap-4 w-full">
        <h1 class="text-xl md:text-2xl xl:text-3xl text-primary">
          What is MediFind?
        </h1>
        <p class="text-sm lg:text-base text-slate-500">
          MediFind is a smart health platform designed to empower users in their
          wellness journey. It offers a comprehensive solution for finding
          medicines, medical supplies, and treatments. With MediFind, users can:
        </p>
      </div>
    </article>
  </div>
  <div class="grid grid-cols-2 md:flex gap-4 lg:gap-8 text-center">
    <div class="flex justify-center items-center gap-2 text-slate-500">
      <span nz-icon nzType="search" nzTheme="outline"></span>
      <p class="text-[0.8rem] lg:text-base whitespace-nowrap">
        Search for Medicines
      </p>
    </div>
    <span class="hidden md:block h-8 w-[1px] rounded-full bg-slate-400"></span>
    <div class="flex justify-center items-center gap-2 text-slate-500">
      <span nz-icon nzType="question-circle" nzTheme="outline"></span>
      <p class="text-[0.8rem] lg:text-base whitespace-nowrap">Ask & Answer</p>
    </div>
    <span class="hidden md:block h-8 w-[1px] rounded-full bg-slate-400"></span>
    <div class="flex justify-center items-center gap-2 text-slate-500">
      <span nz-icon nzType="check-circle" nzTheme="outline"></span>
      <p class="text-[0.8rem] lg:text-base whitespace-nowrap">
        Learn & Explore
      </p>
    </div>
    <span class="hidden md:block h-8 w-[1px] rounded-full bg-slate-400"></span>
    <div class="flex justify-center items-center gap-2 text-slate-500">
      <span nz-icon nzType="user-add" nzTheme="outline"></span>
      <p class="text-[0.8rem] lg:text-base whitespace-nowrap">Join Events</p>
    </div>
  </div>
</div>

<div
  class="md:max-w-4xl xl:max-w-6xl mx-auto py-10 px-4 w-full flex flex-col md:flex-row-reverse justify-center items-center gap-4 md:gap-8 lg:gap-16 xl:gap-40 2xl:gap-48"
>
  <lord-icon
    src="https://cdn.lordicon.com/ubpgwkmy.json"
    trigger="in"
    stroke="light"
    state="in-reveal"
    colors="primary:#64748b,secondary:#0894ff"
    style="min-width: 165px; min-height: 165px"
  >
  </lord-icon>
  <article class="flex flex-col gap-5">
    <div class="flex flex-col gap-4 w-full">
      <h1 class="text-xl md:text-2xl xl:text-3xl text-primary">
        How is Medifind Works?
      </h1>
      <p class="text-sm lg:text-base text-slate-500">
        MediFind provides a highly flexible and personalized experience,
        empowering users to take full control of their profiles and preferences.
        Sign up to join the community in the Talks section, create a profile to
        receive personalized health feedback and logs, subscribe to health
        updates, and unsubscribe at any time.
      </p>
    </div>
  </article>
</div>
