<!-- Hero -->
<div class="bg-primaryLight h-screen">
  <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
    <div class="font-title font-black text-5xl md:text-6xl lg:text-7xl">
      <h1 class="text-[#08C2FF]">Smart Health Choices</h1>
      <span class="text-primarySoft">Made Easy with MediFind</span>
    </div>
    <div class="max-w-4xl">
      <p class="mt-5 text-neutral-400 text-lg">
        It is a creative hub where imagination meets craftsmanship to transform
        ideas into tangible realities. At Preline Agency, we specialize in
        turning conceptual visions into concrete forms, whether it be through
        design, artistry, or technological innovation.
      </p>
    </div>
  </div>
</div>
<!-- End Hero -->
